In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
warnings.simplefilter('ignore')
matplotlib.rcParams['figure.dpi'] = 100
sns.set()
%matplotlib inline

In [ ]:
'''Function to reduce the DF size'''
# source: https://www.kaggle.com/kernels/scriptcontent/3684066/download

def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [ ]:
'''Function to distribution plot'''
def distplot(variable, color):
    #global ax
    fig,ax = plt.subplots(1,1,figsize=(18,10))
    font_size = 16
    title_size = 20
    #plt.rcParams['figure.figsize'] = (18, 10)
    ax = sns.distplot(variable, color = color)
    ax.set_xlabel('%s' %variable.name, fontsize = font_size)
    ax.set_ylabel('Count ', fontsize = font_size)
    ax.set_xticks(fontsize = font_size)
    ax.set_yticks(fontsize = font_size)
    ax.set_title(' Distribution of '+'%s' %variable.name, fontsize = title_size)
    #plt.show()

In [2]:
data_dir = '/home/luoyuhao/Datasets/kaggle/energy'
#building = pd.read_csv(data_dir + '/building_metadata.csv')
weather_train = pd.read_csv(data_dir + '/weather_train.csv')

In [6]:
# Saving some memory
d_types = {
          'site_id': np.int8,
          'air_temperature': np.float32,
          'cloud_coverage': np.float16,
          'dew_temperature': np.float32,
          'precip_depth_1_hr': np.float16,
          'sea_level_pressure': np.float32,
          'wind_direction': np.float16,
          'wind_speed': np.float32}

for feature in d_types:
    weather_train[feature] = weather_train[feature].astype(d_types[feature])
   
    
weather_train["timestamp"] = pd.to_datetime(weather_train["timestamp"])
gc.collect();
display(weather_train.head())

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.000000,6.0,20.0,NaN,1019.700012,0.0,0.0
1,0,2016-01-01 01:00:00,24.400000,NaN,21.1,-1.0,1020.200012,70.0,1.5
2,0,2016-01-01 02:00:00,22.799999,2.0,21.1,0.0,1020.200012,0.0,0.0
3,0,2016-01-01 03:00:00,21.100000,2.0,20.6,0.0,1020.099976,0.0,0.0
4,0,2016-01-01 04:00:00,20.000000,2.0,20.0,-1.0,1020.000000,250.0,2.6

In [7]:
air_temp_non = weather_train[weather_train["air_temperature"].isna()]
display(air_temp_non)

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
368,0,2016-01-16 08:00:00,NaN,NaN,NaN,0.0,NaN,180.0,1.5
369,0,2016-01-16 09:00:00,NaN,2.0,NaN,0.0,NaN,190.0,1.5
370,0,2016-01-16 10:00:00,NaN,2.0,NaN,0.0,NaN,190.0,1.5
15763,1,2016-10-18 13:00:00,NaN,NaN,NaN,NaN,NaN,290.0,6.2
22349,2,2016-07-19 02:00:00,NaN,NaN,NaN,86.0,NaN,NaN,NaN
27393,3,2016-02-14 07:00:00,NaN,0.0,NaN,0.0,NaN,NaN,NaN
30910,3,2016-07-09 20:00:00,NaN,NaN,NaN,38.0,NaN,NaN,NaN
30911,3,2016-07-09 21:00:00,NaN,NaN,NaN,8.0,NaN,NaN,NaN
30914,3,2016-07-10 00:00:00,NaN,4.0,NaN,NaN,NaN,NaN,NaN
50108,5,2016-09-17 00:00:00,NaN,NaN,NaN,NaN,NaN,310.0,4.6
51626,5,2016-11-19 07:00:00,NaN,NaN,NaN,NaN,NaN,10.0,1.0
57294,6,2016-07-12 15:00:00,NaN,NaN,NaN,0.0,NaN,170.0,3.1
60248,6,2016-11-12 18:00:00,NaN,NaN,NaN,0.0,NaN,NaN,2.1
60250,6,2016-11-12 20:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0
60251,6,2016-11-12 21:00:00,NaN,0.0,NaN,0.0,NaN,150.0,2.1
60649,6,2016-11-29 11:00:00,NaN,NaN,NaN,5.0,NaN,30.0,2.6
60650,6,2016-11-29 12:00:00,NaN,NaN,NaN,10.0,NaN,30.0,1.5
61149,6,2016-12-20 07:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0
61150,6,2016-12-20 08:00:00,NaN,0.0,NaN,0.0,NaN,20.0,1.5
61151,6,2016-12-20 09:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0
61152,6,2016-12-20 10:00:00,NaN,0.0,NaN,0.0,NaN,0.0,0.0
70412,8,2016-01-16 08:00:00,NaN,NaN,NaN,0.0,NaN,180.0,1.5
70413,8,2016-01-16 09:00:00,NaN,2.0,NaN,0.0,NaN,190.0,1.5
70414,8,2016-01-16 10:00:00,NaN,2.0,NaN,0.0,NaN,190.0,1.5
79037,9,2016-01-09 18:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
79279,9,2016-01-19 20:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
79303,9,2016-01-20 20:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
79421,9,2016-01-25 18:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
81327,9,2016-04-14 04:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
92858,10,2016-08-06 19:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94210,10,2016-10-02 03:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94211,10,2016-10-02 04:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94212,10,2016-10-02 05:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94213,10,2016-10-02 06:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94214,10,2016-10-02 07:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94215,10,2016-10-02 08:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94216,10,2016-10-02 09:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94217,10,2016-10-02 10:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94218,10,2016-10-02 11:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94219,10,2016-10-02 12:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94220,10,2016-10-02 13:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94230,10,2016-10-02 23:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94234,10,2016-10-03 03:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94235,10,2016-10-03 04:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94236,10,2016-10-03 05:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94237,10,2016-10-03 06:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94238,10,2016-10-03 07:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94239,10,2016-10-03 08:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94240,10,2016-10-03 09:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94241,10,2016-10-03 10:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94242,10,2016-10-03 11:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94243,10,2016-10-03 12:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
94245,10,2016-10-03 14:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
115739,13,2016-03-23 12:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN
126458,14,2016-06-12 05:00:00,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [72]:
idx = np.where(weather_train["air_temperature"].isna())
#print(weather_train.iloc[368])
#weather_train.loc[368]['air_temperature'] = 5
#print(weather_train.iloc[368])
print(weather_train.shape)
weather_train.dtypes
summary = pd.DataFrame(weather_train.dtypes,columns=['dtypes'])
summary.reset_index()

summary['count'] = weather_train.count().values
summary['missing'] = weather_train.isnull().sum().values
summary['unique'] = weather_train.nunique().values
summary['min'] = weather_train.min().values
summary['max'] = weather_train.max().values
#summary['median'] = weather_train.median().values
summary

(139773, 9)

,dtypes,count,missing,unique,min,max
site_id,int8,139773,0,16,0,15
timestamp,datetime64[ns],139773,0,8784,2016-01-01 00:00:00,2016-12-31 23:00:00
air_temperature,float32,139718,55,619,-28.9,47.2
cloud_coverage,float16,70600,69173,10,0,9
dew_temperature,float32,139660,113,522,-35,26.1
precip_depth_1_hr,float16,89484,50289,128,-1,343
sea_level_pressure,float32,129155,10618,709,968.2,1045.5
wind_direction,float16,133505,6268,43,0,360
wind_speed,float32,139469,304,58,0,19

In [84]:
hour = np.uint8(weather_train['timestamp'].dt.hour)
day = np.uint8(weather_train['timestamp'].dt.day)
weekday = weather_train['timestamp'].dt.weekday
weekday_name = weather_train['timestamp'].dt.weekday_name
month = weather_train['timestamp'].dt.month

In [89]:
summary['missing'].replace({0:999},inplace=True)
col = summary.loc[:,['count','missing']]
for c in col.columns:
    print(c)

count
missing

In [31]:
def weather_process(dataframe,key):
    na_idx = np.where(dataframe[key].isna())[0]
    print(na_idx.shape)
    for cur_idx in na_idx:
        pre_idx = cur_idx-1
        while pre_idx:
            if dataframe.loc[pre_idx][key] != np.nan:
                value = dataframe.loc[pre_idx][key]
                print(value)
                dataframe.loc[cur_idx] = value
                break
            else:
                pre_idx -= 1
    
    print(dataframe.loc[368][key])

In [ ]:
## BASELINE
## Feature Proc For Training Data

In [ ]:
## 数值型数据处理
## year
train['year_built'] = np.uint8(train['year_built']-1900,inplace=True)

## time
train['hour'] = np.uint8(train['timestamp'].dt.hour)
train['day'] = np.uint8(train['timestamp'].dt.day)
train['weekday'] = train['timestamp'].dt.weekday
train['month'] = train['timestamp'].dt.month

## 先简单的对缺少值取中值处理（离散型或者连续型数值类型数据
to_impute_by_median = train.loc[:, ['floor_count','air_temperature', 'cloud_coverage', 'dew_temperature',
                      'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction','wind_speed']]
for col in to_impute_by_median:
    train[col].fillna(train[col].median(),inplace=True)

In [ ]:
## 类别数据处理
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['primary_use'] = le.fit_transform(train['primary_use'])

In [ ]:
'''Setting train, test and target for model'''
target = train_processed['meter_reading']
train = train_processed.drop(['meter_reading'], axis = 1)
test = test_processed.drop(['row_id'], axis = 1)

In [ ]:
'''Merging datasets'''
train = train.merge(building, on = 'building_id', how = 'left')
test = test.merge(building, on = 'building_id', how = 'left')

train = train.merge(weather_train, on = ['site_id', 'timestamp'], how = 'left')
test = test.merge(weather_test, on = ['site_id', 'timestamp'], how = 'left')

del weather_train, weather_test,building

In [ ]:
train = reduce_mem_usage(train)